@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root {
	--primary-color: #87cdf6;
	--secondary-color: hsl(120, 64%, 43%);
	/* --border-color: #87cdf6; */
	--text-color: #cffff6;
	--border-radius: 8px;
	--box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
		rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	width: 500px;
	overflow: hidden;
}

.images {
	display: flex;
	transition: transform 0.5s linear;
	transform: translateX(0%);
}

img {
	flex: 0 0 auto;
	width: 500px;
	height: 320px;
	object-fit: cover;
	object-position: center center;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.buttons > button {
	padding: 10px;
	width: 49%;
	border: none;
	background-color: slateblue;
	color: white;
	cursor: pointer;
	transition: all 0.4s linear;
}

.buttons > button:active {
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
}
