@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
	--primary-color: #87cdf6;
	--secondary-color: hsl(120, 64%, 43%);
	/* --border-color: #87cdf6; */
	--text-color: #cffff6;
	--border-radius: 8px;
	--box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	background-color: #f9ca24;
	box-shadow: 0 3px rgba(249, 202, 36, 0.5);
	text-align: center;
	margin: 20px auto 40px auto;
	position: fixed;
	top: 20px;
	color: white;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	letter-spacing: 1px;
	z-index: 100;
}

button:active {
	transform: translateY(2px);
	box-shadow: none;
}

.boxes {
	width: 500px;
	height: 500px;
	/* background-color: yellow; */
	outline: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}
.boxes .box {
	/* transform: rotateZ(0deg); */
	transition: all 0.5s;
	position: relative;
}
.boxes.big {
	width: 600px;
	height: 600px;
}

.boxes.big .box {
	transform: rotateZ(360deg);
	/* transition: all 0.5s; */
}

.boxes.big .box::after {
	content: '';
	width: 10px;
	height: 125px;
	color: #f9ca24;
	background-color: #f9ca24;
	position: absolute;
	top: 5px;
	right: -10px;
	transform: skew(0, 45deg);
}
.boxes.big .box::before {
	content: '';
	width: 125px;
	height: 10px;
	color: #f9ca24;
	background-color: #f9ca24;
	position: absolute;
	bottom: -10px;
	right: -5px;
	transform: skew(45deg, 0deg);
}

.box {
	width: 125px;
	height: 125px;
	background-image: url('https://media0.giphy.com/media/l3HBbltOYjoNq/giphy.gif?cid=ecf05e47lh6i5gva20l0pmbfajn6vm49s3oxtygsavcs36m2&rid=giphy.gif&ct=g');
	background-size: 500px 500px;
	background-repeat: no-repeat;
	position: relative;
}
