@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');
:root {
	--primary-color: hsl(255, 90%, 50%);
	--secondary-color: #f0f0f0;
	--border-radius: 2px;
	--box-shadow: rgb(38, 57, 77) 0px 20px 5 -10px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rosybrown;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

input {
	position: absolute;
	bottom: 20px;
	width: 100px;
	border: 10px solid hsl(0, 25%, 35%);
}
