* {
	margin: 0;
    font-family:sans-serif;
    font-weight: lighter;
}

header {
    display: flex;
    flex-direction: column;
}


h1 {
	color: white;
    font-weight: 900;
	text-align: center;
    background-color: black;
    padding: 15px 20%;
}

.vertical {
    width: 60%;
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* margin: auto; */

}

h4 {
    padding: 15px 20%;
	color: white;
	text-align: justify;
    background: teal;
}

header p {
    width: 60%;
    margin: 15px auto;
    background:rgb(239, 237, 237);
    padding: 15px 5px;
}
